#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.banner{
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.texto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}